<html>
    <link href="css/login.css" rel="stylesheet"/>
    <body>
        <div style = "position:absolute;margin:1%" id = "side-bar">
	    <a href = "/main">
	        <img src = "/public/logo.jpg" style = "margin-left:3%;width:100%" />
	    </a>
	    <br/>
	    <ul id = "ref_list">
	    </ul>
        </div>
        <div class="container">
        <p>您好，<span id="user_info">(學號_使用者)</span>！
	    <button style="display:inline;" onclick="logout()">登出</button>
	</p>
        <div class="section application-form">
            <h2>填寫申請表</h2>
            <form action="後端URL" method="post" enctype="multipart/form-data">
                <label for="topic">主題：（必填）</label><br>
                <input type="text" id="topic" placeholder="多人線上足球遊戲"><br><br>
                <label for="tags">標籤：（非必填，用 、 隔開不同標籤）</label><br>
                <input type="text" id="tags" placeholder="線上遊戲、足球"><br><br>
                <label for="description">敘述：（必填）</label><br>
                <textarea id="description" rows="6" cols="50" placeholder="好玩的足球遊戲，支援多人線上同時遊玩"></textarea><br><br>
				<!--
                <label for="portfolio">作品集檔案：（非必填）</label><br>
                <input type="file" id="portfolio" name="portfolio"><br><br>
				-->
                <br/>
		<hr/>
		<br/>
                <input onchange="setContainerInfo()" type="checkbox" id="deploy_container"/>
                <span style="font-size:25px;"><b>申請部屬容器</b></span>
                <br/>
                <label id="container_info" style="display:none;" for="container_info">
                    <label for="docker_image">Docker Image 的 user/image:tag：（必填）</label><br>
                    <input type="text" id="docker_image"i placeholder="tommygood/online-soccer-game:latest"><br><br>
                    <label for="internal_port">
			    外部 IP 的 Port 要 Mapping 到容器內哪個 port：（非必填）
			    <br/>
			    最多可以填 <b><span id="mapping_port_nums"></span></b> 個，多個不同請以 <b>,</b> 隔開
		    	</label><br>
                <input type="text" id="internal_port" style="width:8%;text-align:center;" placeholder="80"><br><br>
				<!-- set public is deprecated temproraily -->
				<div style="display:none">
		    	<label for="set_public">開放 Public 存取：（非必填）</label>
		    	<select id="set_public">
				<option value="1">開放</option>
				<option value="0">不開放</option>
		    	</select>
				</div>
                    <label for="domain">Domain：（非必填）</label><br>
		    <input type="text" id="domain" style="width:8%;text-align:center;" placeholder="soccer"><b>.im.ncnu.edu.tw</b><br><br>
                    <label for="ssl">https + Reverse Proxy ：（非必填）</label>
		    <select id="ssl">
			<option value="0">不申請</option>
			<option value="1">申請</option>
		    </select>
		    <br/><br/>
                    <label for="ram_usage">容器 RAM 使用量：（必填）</label><br>
		    <select id="ram_usage"></select><span> GB</span><br><br>
                    <label for="cpu_usage">容器 CPU 使用量：（必填）</label><br>
		    <select id="cpu_usage"></select><span> 顆</span><br><br>
                    <label for="disk_usage">容器 Disk 使用量：（必填）</label><br>
		    <select id="disk_usage"></select><span> GB</span><br><br>
		    <label for="env"><a href="https://docs.docker.com/compose/environment-variables/set-environment-variables/#set-environment-variables-with-docker-compose-run---env">環境變數</a>：（非必填）</label><br>
		    <div>多個請以換行隔開</div>
		    <textarea placeholder="account=test&#10;password=123" id="env" rows="4" cols="50"></textarea><br/><br/>
		    <label for="volumes"><a href="https://docs.docker.com/storage/volumes/">Volumes</a>：（非必填）</label><br>
		    <div>多個請以換行隔開</div>
		    <div>the path where the file or directory are mounted in the container.</div>
		    <textarea placeholder="/var/lib/mysql&#10;/var/lib/mysql/data" id="volumes" rows="4" cols="50"></textarea>
                </label>
    
            </form>
                <button id = "sub" onclick = "submit()">提交申請</button>
        </div>
	</div>
    </body>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
    <script src = "js/utilities.js"></script>
    <script src = "js/apply.js"></script>
</html>
