<!-- template of simple html with same format style -->
<!DOCTYPE html>
<html lang="zh-TW">
    <link href="css/login.css" rel="stylesheet"/>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>使用者-作品集系統</title>
    </head>
    <body>
        <div style = "position:absolute;margin:1%" id = "side-bar">
	    <a href = "/main">
	        <img src = "/public/logo.jpg" style = "margin-left:3%;width:100%" />
	    </a>
	    <br/>
 	    <ul id = "ref_list">
	    </ul>
        </div>
        <div class="container">
            <p>您好，<span id="user_info">(學號_使用者)</span>！
	        <button style="display:inline;" onclick="logout()">登出</button>
	    </p>
    

            <div class="section portfolio-list">
            </div>

        </div>
    </body>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
    <script src = "js/utilities.js"></script>
    <script src = "js/xxx.js"></script>
</html>
