<html>
    <head>
        <title>
           
        </title>
        <h1>
            登入頁面
        </h1>
    </head>
    <body>
        <div>
            帳號：<input type = 'text' name = 'account' id = 'account'/>
            密碼：<input type= "password" name="password" id = "password"/>
            <button id = 'sub' onclick = "submit()">提交</button>
        </div>
    </body>
        <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
    <script src = "js/login.js">
    </script>
</html>