<!DOCTYPE html>
<html lang="zh-TW">
<link href="css/login.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>軟體庫-作品集系統</title>
</head>
<body>
    <div style = "position:absolute;margin:1%" id = "side-bar">
	<a href = "/main">
	    <img src = "/public/logo.jpg" style = "margin-left:3%;width:100%" />
	</a>
	<br/>
	<ul id = "ref_list">
	</ul>
    </div>
    <div class="container">
        <p>您好，<span id="user_info">(學號_使用者)</span>！</p>
    

        <div class="section portfolio-list">
            <h2>作品牆</h2>
            <p>展示所有學生的作品集</p>
	    <table border = "1" id = "tab_software_collections">
		<tr>
		    <td>作品編號</td>
		    <td>主題</td>
		    <td>建立者</td>
		    <td>瀏覽次數</td>
		    <td>詳細資訊</td>
	    </table>
        </div>

        <div class="section portfolio-list">
            <h2>我的作品牆</h2>
            <p>展示個人的作品集</p>
	    <table border = "1" id = "tab_my_software_collections">
		<tr>
		    <td>作品編號</td>
		    <td>主題</td>
		    <td>申請成功</td>
		    <td>瀏覽次數</td>
		    <td>詳細資訊</td>
		    <td>刪除</td>
	    </table>
        </div>

    </div>
</body>
<script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
<script src = "js/utilities.js"></script>
<script src = "js/main.js"></script>
</html>
