<html>
    <head>
    </head>
    <body>
    </body>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
</html>
<!-- template of simple html with same format style -->
<!DOCTYPE html>
<html lang="zh-TW">
    <link href="css/login.css" rel="stylesheet"/>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>使用者-作品集系統</title>
        <title>系統設定</title>
    </head>
    <body>
        <div style = "position:absolute;margin:1%" id = "side-bar">
	    <a href = "/main">
	        <img src = "/public/logo.jpg" style = "margin-left:3%;width:100%" />
	    </a>
	    <br/>
 	    <ul id = "ref_list">
	    </ul>
        </div>
        <div class="container">
            <p>您好，<span id="user_info">(學號_使用者)</span>！</p>
    

            <div class="section portfolio-list">
                <h1>申請帳號</h1>
        	<span>申請帳號的類別</span>
		<select id = "type">
	    	    <option value = "admin">admin</option>
	    	    <option value = "teacher">teacher</option>
	    	    <option value = "student">student</option>
		</select>
		<br/><span>帳號：</span><input id = "account"></input>
		<br/><span>密碼：</span><input id = "password"></input>
		<br/><span>總 credit：</span><input id = "total_credit"></input>
		<br/>
        	<button id = 'sub' onclick = "submit()">提交</button>
            </div>

        </div>
    </body>
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
    <script src = "js/utilities.js"></script>
    <script src = "js/settings.js"></script>
</html>
