<!DOCTYPE html>
<html lang="zh-TW">
<link href="css/login.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>軟體庫-作品集系統</title>
</head>
<body>
    <div style = "position:absolute;margin:1%" id = "side-bar">
	<a href = "/main">
	    <img src = "/public/logo.jpg" style = "margin-left:3%;width:100%" />
	</a>
	<br/>
	<ul>
	    <li><a href = "/main">main</a></li>
	    <li><a href = "/user">user</a></li>
	    <li><a href = "/apply">apply</a></li>
	    <li><a href = "/account">account</a></li>
	    <li><a href = "/requirement">requirement</a></li>
	    <li><a href = "/tutorial">tutorial</a></li>
	</ul>
    </div>
    <div class="container">
        <p>您好，<span id="user_info">(學號_使用者)</span>！</p>
    

        <div class="section portfolio-list">
            <h2>軟體資訊</h2>
	    <table border = "1" id = "software_info">
		<tr>
		    <td>作品編號</td>
		    <td>主題</td>
		    <td>介紹</td>
		    <td>建立者</td>
		    <td>url</td>
		    <td>域名</td>
		    <td>建立時間</td>
		    <td>瀏覽次數</td>
	    </table>
	</div>

        <div class="section portfolio-list">
            <h2>留言板</h2>
	    <table border = "1" id = "bulletin">
		<tr>
		    <td>作品編號</td>
		    <td>內容</td>
		    <td>留言者</td>
		    <td>留言時間</td>
	    </table>
            <h2>新增留言</h2>
	    <div>
		留言：<input id = "comment"></input>
		<button onclick="postComment()">送出</button>
	    </div>
	    <br/>
        </div>

    </div>
</body>
<script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
<script src = "js/utilities.js"></script>
<script src = "js/software.js"></script>
</html>
