<!DOCTYPE html>
<html lang="zh-TW">
<link href="css/login.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>使用者-作品集系統</title>
</head>
<body>
    <div class="container">
        <p>您好，<span id="user_info">(學號_使用者)</span>！</p>
    

        <div class="section portfolio-list">
            <h2>使用者個人資訊</h2>
	    <img style = "width:10%;" id = "headshot" src = ""/>
	    <table border = "1" id = "tab_user_info">
		<tr>
		    <td>編號</td>
		    <td>學號</td>
		    <td>名稱</td>
		    <td>email</td>
		    <td>總 credit</td>
	    </table>
        </div>

        <div class="section portfolio-list" id = "section_update_info" style = "display:none;">
            <h2>更新個人資訊</h2>
	    <div>
		email：<input id = "email_upload"></input>
		<button id = "button_email" onclick="postEmail()">送出</button>
	    </div>
	    <br/>
	    <div>
	        照片：<input name = "headshot_upload" type="file" id = "headshot_upload"></input>
		<button id = "button_headshot" onclick="postHeadshot()">送出</button>
	    </div>
        </div>

        <div class="section system-info">
            <h2>系統使用教學</h2>
            <p><a href="#">系統使用說明</a></p>
            <p><a href="#">Docker相關資訊</a></p>
        </div>
    </div>
</body>
<script src = 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js' ></script>
<script src = "js/utilities.js"></script>
<script src = "js/user.js"></script>
</html>
